DB_HOST=pgvector-production-6930.up.railway.app
DB_PORT=5432
DB_NAME=railway
DB_USER=YOUR_RAILWAY_USER
DB_PASSWORD=YOUR_RAILWAY_PASSWORD
# DATABASE_URL=postgresql://YOUR_RAILWAY_USER:YOUR_RAILWAY_PASSWORD@pgvector-production-6930.up.railway.app:5432/railway

